# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv310/
detected_faces/

# VS Code settings
.vscode/

# Environment variable files
.env

# Model files
models/
*.tflite
*.h5

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyInstaller
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Tests
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# IDEs
.idea/
